### program to perform all arithmetic operations on two numbers

 Arithmetic operation :- Arithmetic operations are used to performing mathematical operation like -


 Addition - (+)

 Substraction - (-)


 Multiplication - (*)

 Division - (/)

 Modulus - (%)

 Exponent - (**)

 Floor division - (//)

x  = float(input("first value: "))
y  = float(input("second value: "))

z  = x + y
print(z)

z  = x - y
print(z)

z  = x * y
print(z)

z  = x / y
print(z)

z  = x % y
print(z)

z  = x ** y
print(z)

z  = x // y
print(z)

# Interchange list

In [3]:
# Python program to interchange list
my_list = [10, 20, 30, 40, 50]
print("Original list:", my_list)

# --- Method 1: Using a Temporary Variable ---
temporary = my_list[0]
my_list[0] = my_list[-1]
my_list[-1] = temporary

print("After swapping (using temporary variable):", my_list)

# --- Method 2: Without Using Temporary Variable ---
# Swapping again to original using tuple unpacking
my_list[0], my_list[-1] = my_list[-1], my_list[0]

print("After swapping (without using temporary variable):", my_list)

Original list: [10, 20, 30, 40, 50]
After swapping (using temporary variable): [50, 20, 30, 40, 10]
After swapping (without using temporary variable): [10, 20, 30, 40, 50]

# All operations like addition of elements, remove elements, copy item & create nested dictionaries too.

In [4]:
student = {"Name":"Aditya","Course":"Python","Age":18}
print(student)

{'Name': 'Aditya', 'Course': 'Python', 'Age': 18}

In [5]:
print(student["Name"])

Aditya

In [6]:
print(len(student))

3

In [7]:
print(type(student))

<class 'dict'>

In [8]:
student2 ={"Name":"Aditya","Course":"Python","Age":18 ,"Age":20}
print(student2)

{'Name': 'Aditya', 'Course': 'Python', 'Age': 20}

In [9]:
x = student.get("Course")
print(x)

Python

In [10]:
student.keys()

dict_keys(['Name', 'Course', 'Age'])

In [11]:
student.values()

dict_values(['Aditya', 'Python', 18])

In [12]:
student['Age']=24
print(student)

{'Name': 'Aditya', 'Course': 'Python', 'Age': 24}

In [13]:
student["City"]="Delhi"
print(student)

{'Name': 'Aditya', 'Course': 'Python', 'Age': 24, 'City': 'Delhi'}

In [14]:
student3={"Name":"Aditya","Year":2024,"Pass":True,"Marks":[55,66,77]}
print(student3)

{'Name': 'Aditya', 'Year': 2024, 'Pass': True, 'Marks': [55, 66, 77]}

In [15]:
student3.update({"Marks":[55,66,77,88]})
print(student3)

{'Name': 'Aditya', 'Year': 2024, 'Pass': True, 'Marks': [55, 66, 77, 88]}

In [16]:
student3.update({"City":"Delhi"})
print(student3)

{'Name': 'Aditya', 'Year': 2024, 'Pass': True, 'Marks': [55, 66, 77, 88], 'City': 'Delhi'}

In [17]:
student3.pop("City")
print(student3)

{'Name': 'Aditya', 'Year': 2024, 'Pass': True, 'Marks': [55, 66, 77, 88]}

In [18]:
student3.popitem()
print(student3)

{'Name': 'Aditya', 'Year': 2024, 'Pass': True}

In [19]:
del student3["Year"]
print(student3)

{'Name': 'Aditya', 'Pass': True}

In [20]:
student3.clear()
print(student3)

{}

In [21]:
student3={"Name":"Aditya","Year":2024,"Pass":True,"Marks":[55,66,77]}
print(student3)

{'Name': 'Aditya', 'Year': 2024, 'Pass': True, 'Marks': [55, 66, 77]}

In [22]:
student3

{'Name': 'Aditya', 'Year': 2024, 'Pass': True, 'Marks': [55, 66, 77]}

In [23]:
student4=student3.copy()
print(student4)

{'Name': 'Aditya', 'Year': 2024, 'Pass': True, 'Marks': [55, 66, 77]}

In [24]:
student5 = dict(student4)
print(student5)

{'Name': 'Aditya', 'Year': 2024, 'Pass': True, 'Marks': [55, 66, 77]}

In [26]:
# Nested Dictionaries

college={
    "student1":{
        "Name":"Aditya",
        "Course":"Python",
        "year":1
    },
    "student2":{
        "Name":"Abhishek",
        "Course":"Graphic",
        "year":2
    },
    "student3":{
        "Name":"Aryan",
        "Course":"A.I",
        "year":3
    },

}

In [27]:
college

{'student1': {'Name': 'Aditya', 'Course': 'Python', 'year': 1},
 'student2': {'Name': 'Abhishek', 'Course': 'Graphic', 'year': 2},
 'student3': {'Name': 'Aryan', 'Course': 'A.I', 'year': 3}}

In [28]:
print(college["student3"] ["Name"])

Aryan

In [29]:
print(college["student2"] ["Course"])

Graphic

In [30]:
print(college['student1']['year'])

1